.image{
    margin-top: 20px;
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.container{
   
    width: 40%;
    margin-left: 30%;
    padding: 15px;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    border-radius: 15px;
    background-color: white;
    font-family: "https://fonts.google.com/specimen/Young+Serif";
}

.Ingredients{
    text-align: left;
}

.ptime{
    text-align: left;
    background-color: rgb(255, 247, 252);
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgb(255, 247, 252) ;
}

.h3{
    color: rgb(121, 66, 61);
    font-family:fantasy;
}

.h2{
    color: rgb(96, 80, 80);
    text-align: left;
    font-family:fantasy;
}

.Instructions{
    text-align: left;
   
}


body
{
    background-color: wheat;
    font-weight: 10px;
}

.title{
    font-family:fantasy;
    text-align: left;
    margin-left: 20px;
    color: rgb(125, 76, 98);
}
.table{
    text-align: left;
}